<header>
    <app-header></app-header>
</header>
<app-seeker-sidebar></app-seeker-sidebar>
<body>
    <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
        <div class="panel-body">
          <table class="table table-striped table-bordered table-list" width="100%">
              <thead>
                  <tr>
                      <th>NO</th>
                      <th>User ID</th>
                      <th>Status</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let reuest of requests">
                      <td>{{request.No}}</td>
                      <td>{{request.userId}}</td>
                      <td>{{request.status}}</td>
              </tbody>
          </table>
          </div>
          </main>