<header>
        <app-header></app-header>
</header>
<app-sidebar></app-sidebar>
<body>
<main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">

<div class="col-md-12 col-md-offset-2" *ngIf="!expanded">

  <!-- <div class="col col-xs-12 text-right">
    <button type="button" class="btn btn-primary btn-create" (click)="openUploadFileDialogue()">+ File</button>
  </div> -->

</div>

<mat-card class="basic-details-card">
    <mat-card-header>
        <mat-card-title style="color: green">Basic Details</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="row">

            <div class="col-md-4">
                <p>{{user.id}}</p> 
            </div>
        
          <div class="col-md-5">
                <p>{{user.name}}</p> 
          </div>

          <div class="col-md-3">
              <p>{{user.email}}</p> 
          </div>
       
      </div> 

      <div class="row">
          <div class="col-md-3">
              <p>{{user.adress}}</p> 
          </div>
      </div>

    </mat-card-content>
</mat-card>

<div class="row">
<p></p>
</div>

<div class="row">
    <div class="col-md-6">
      <mat-card>
          <mat-card-header>
          <mat-card-title style="color: green">Aaadhar Details</mat-card-title>
          </mat-card-header>

          <mat-card-content>

            <div class="col-md-6">
                <!-- <div class="row">

                </div>
                <div class="row">
                    
                </div>
                <div class="row">
                    
                </div> -->

            
            <p>adhar no</p> 
              
            <p>issue date</p> 
           
            <p>status</p> 
            
            </div>

            <div class="col-md-6">

            </div>

          </mat-card-content>
      </mat-card>
    </div>

    <div class="col-md-6">
      <mat-card>
          <mat-card-header>
          <mat-card-title style="color:green">Passport Details</mat-card-title>
        </mat-card-header>

          <mat-card-content>
            
            <div class="col-md-6">
                <p>passport no</p> 
                
                <p>expiry date</p> 

                <p>issue date</p> 
               
                <p>status</p> 
            </div>
            <div class="col-md-6">

            </div>

          </mat-card-content>
      </mat-card>  
    </div>
</div>

</main>

